.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #360051, #5b15b7);
  width: 100%;
}

.backgroundcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0px 70px 0px;
  align-items: center;
  background-color: transparent;
  width: 100%;
  max-width: 1350px;
}

@media screen and (max-width: 1400px) {
  .backgroundcontainer {
    width: 1050px;
  }
}
@media screen and (max-width: 1100px) {
  .backgroundcontainer {
    width: 750px;
  }
}
@media screen and (max-width: 800px) {
  .backgroundcontainer {
    width: 500px;
    padding: 60px 20px; /* Adjusted padding */
  }
}
@media screen and (max-width: 550px) {
  .backgroundcontainer {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .backgroundcontainer {
    width: 350px;
  }
}
