.automation-double-gradient {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  display: flex;
  background: linear-gradient(
    165deg,
    rgba(81, 32, 228, 1) 0%,
    rgba(233, 117, 255, 1) 100%
  );
}

.automationPage {
  margin-top: var(--navmargin);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: top;

  .automation-title {
    color: white;
  }
  .section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .automation-title {
    color: white;
    width: 800px;
    font-size: var(--fonthuge);
    font-weight: 800;
    text-align: center;
  }
  .automation-description1 {
    margin-top: 40px;
    color: white;
    width: 800px;
    font-size: var(--fontmedium);
    font-weight: 600;
    text-align: center;
  }
  .automation-description2 {
    margin-top: 30px;
    color: white;
    width: 800px;
    font-size: var(--fontsmall);
    font-weight: 600;
    text-align: center;
  }
}
