.automationPage {
  margin-top: var(--navmargin);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .gradient-container {
    background: linear-gradient(
      165deg,
      rgba(81, 32, 228, 1) 0%,
      rgba(233, 117, 255, 1) 100%
    );
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 90px 0px;
  }
  .automation-title {
    color: white;
  }
  .section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .automation-title {
    color: white;
    width: 800px;
    font-size: var(--fonthuge);
    font-weight: 800;
    text-align: center;
  }
  .automation-description1 {
    margin-top: 40px;
    color: white;
    width: 800px;
    font-size: var(--fontmedium);
    font-weight: 600;
    text-align: center;
  }
  .automation-description2 {
    margin-top: 30px;
    color: white;
    width: 800px;
    font-size: var(--fontsmall);
    font-weight: 600;
    text-align: center;
  }
}
