.imagetextbox-wrapper {
  position: relative; /* Needed for absolute positioning of text */
  width: 100%;
  .image {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    display: block; /* Remove any default inline spacing */
  }
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    .description {
      font-family: var(--titlefont);
      margin-top: 100px;
      font-size: var(--mediumfont);
      font-weight: bold;
    }

    .small-description {
      font-size: var(--descriptionfont);
      margin-top: 10px;
    }
  }
}
