.informationbox {
  width: 100%;
  display: flex;

  flex-direction: row-reverse;
  &.reverse {
    flex-direction: row;
  }
  justify-content: space-between;
  align-items: center;
  .image {
    width: 500px;
    border-radius: 10px;
  }
  .text-overlay {
    gap: 10px;
    width: 750px;
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      font-size: var(--fontmedium);
      font-weight: 450;
    }
    .description {
      margin-bottom: 10px;
      font-size: var(--fontsmall);
    }
    .buttoncontainer {
      margin-top: 20px;
      .button {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 15px 10px 15px 10px;
        font-size: var(--fontsmall);
        font-weight: 500;
        border-radius: 5px;
      }
    }
  }
  .point-lists {
    font-size: var(--fontsmall);
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 1400px) {
  .informationbox {
    flex-direction: column !important;
    gap: 50px;
    .text-overlay {
      width: 100% !important;
    }
    .point-lists {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}
@media (max-width: 700px) {
  .informationbox {
    .image {
      width: 100% !important;
    }
  }
}
