.cool-box {
  width: 100%;
  height: 600px;
  background-image: url("../../images/components/backgroundblob.webp");
  background-color: rgb(248, 246, 246);
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  .textbox {
    padding: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titlecontainer {
      font-size: var(--fonthuge);
      font-family: var(--fontfamilytitle);
      font-weight: 600;

      .title {
        color: black;
        width: 800px;
      }
    }
    .description {
      margin-top: 10px;
      color: var(--colordescription);
      width: 500px;
      font-family: var(--fontfamilydescription);
      font-size: var(--fontsmall);
    }
    .buttoncontainer {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      .button1 {
        background-color: white;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 10px 20px;
        &:hover {
          background-color: #ebebeb;
        }
      }
      .button2 {
        color: white;
        background-color: black;
        border-radius: 5px;
        padding: 10px 20px;
      }
    }
  }
  .imagecontainer {
    display: flex;
    width: 100px;
    .image {
      object-fit: contain;
      height: auto;
      width: 700px;
      transform: translateX(-15%);
    }
  }
}

@media (max-width: 1400px) {
  .cool-box {
    .imagecontainer {
      .image {
        width: 500px;
        transform: translateX(-10%);
      }
    }
  }
}
@media (max-width: 1250px) {
  .cool-box {
    .imagecontainer {
      .image {
        width: 450px;
        transform: translateX(-25%);
      }
    }
  }
}
@media (max-width: 1100px) {
  .cool-box {
    background-position: -200px;
    height: 700px;
    background-size: cover;
    .imagecontainer {
      .image {
        width: 450px;
        transform: translate(-45%, 40%);
      }
    }
  }
}
@media (max-width: 850px) {
  .cool-box {
    background-position: -200px;
    height: 500px;
    background-size: cover;
    .textbox {
      width: 100% !important;
      padding: 10%;
    }
    .title {
      width: 100% !important;
    }
    .description {
      width: 100% !important;
    }
    .imagecontainer {
      width: 0px;
      .image {
        width: 400px;
        transform: translate(-85%, 50%);
      }
    }
  }
}
@media (max-width: 800px) {
  .cool-box {
    .imagecontainer {
      .image {
        width: 300px;
        transform: translate(-80%, 43%);
      }
    }
  }
}
@media (max-width: 700px) {
  .cool-box {
    .title {
      line-height: 50px;
    }
    .titlecontainer {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 550px) {
  .cool-box {
    align-items: start;
    height: 450px;
    .imagecontainer {
      width: 0px;
      .image {
        width: 250px;
        transform: translate(-80%, 200%);
      }
    }
  }
}
