.contactpage {
  margin-top: var(--navmargin);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  overflow: hidden;

  h1 {
    text-align: left;
  }

  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .text-container {
      width: 800px;
    }
  }

  .contactform {
    width: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    position: relative;
    box-sizing: border-box;
    .blob3 {
      left: -100px;
      top: -100px;
      width: 300px;
      height: auto;
      object-fit: contain;
      position: absolute;
      z-index: -50;
    }
    .blob4 {
      right: -100px;
      bottom: -100px;
      width: 300px;
      height: auto;
      object-fit: contain;
      position: absolute;
      z-index: -50;
    }

    form {
      display: flex;
      gap: 40px;
      flex-direction: column;
      .inputgroup {
        display: flex;
        gap: 5px;
        flex-direction: column;
        input {
          font-size: var(--fontextrasmall);
          height: 40px;
          border-style: solid;
          border-color: rgb(203, 203, 203);
          border-width: 1px;
          border-radius: 5px;
          background-color: rgb(236, 236, 236);
        }
        textarea {
          font-size: var(--fontextrasmall);
          height: 80px;
          border-style: solid;
          border-color: rgb(203, 203, 203);
          border-width: 1px;
          border-radius: 5px;
          background-color: rgb(236, 236, 236);
        }
      }
      .sendbutton {
        position: relative;

        button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          background-color: #007bff;
          color: #fff;
          border-radius: 4px;
          transition: background-color 0.3s;

          &:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
          }
        }

        .spinner {
          width: 20px;
          height: 20px;
          border: 3px solid rgba(255, 255, 255, 0.3);
          border-radius: 50%;
          border-top-color: #fff;
          animation: spin 1s linear infinite;
        }

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .flex-container {
    width: 100% !important;
    justify-content: center !important;
  }
}
@media (max-width: 600px) {
  .contactpage {
    height: auto !important;
  }
  .contactform {
    width: 100% !important;
    padding: 20px !important;
  }
  .flex-container {
    width: 100% !important;
    justify-content: center !important;
  }
}
