.clientpage {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .clientdescription {
    text-align: center;
    color: var(--colordescription);
    font-weight: 500;
    margin-bottom: 40px;
  }
}
.kundcases {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  display: flex;
  flex-direction: row;
}
