.three-boxes-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 30px;
  .box {
    /* From https://css.glass */
    background: #f8f9fc;
    border-radius: 10px;
    max-width: 390px;
    padding: 20px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    .title {
      font-family: var(--fontfamilytitle);
      font-size: var(--fontmedium);
      font-weight: bold;
      max-width: 400px;
      text-align: center;
    }

    .description {
      text-align: center;
      font-size: var(--fontsmall);
      margin-top: 10px;
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 500px) {
  .three-boxes-wrapper {
    .box {
      width: 100%;
      height: 250px;
      .title {
        max-width: 200px;
      }

      .description {
        max-width: 200px;
      }
    }
  }
}
