.titleanddescription {
  width: 864px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    font-size: var(--fontmedium);
  }
  .description {
    font-size: var(--fontsmall);
    color: var(--color);
    line-height: 1.6;
  }
}
