.gradient-text {
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
  background: linear-gradient(to right, var(--gradient2), var(--gradient3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
