.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-toggle-button {
  padding: 10px 20px;
  background-color: #747474;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.language-toggle-button .arrow {
  margin-left: 10px;
  font-size: 12px;
}

.language-toggle-button:hover {
  background-color: #dcdcdc;
}

.language-toggle-button:focus {
  outline: none;
}

.language-dropdown {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(39, 39, 39, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fontmedium);
  width: 100%;
  height: 100%;
  z-index: 1000;
  .title {
    color: white;
  }
}

.language-option {
  color: rgb(168, 168, 168);
  padding: 10px;
  text-align: center;
  transition: background-color 0.2s ease;
  position: relative;
  display: flex;
  justify-content: center;
}

.language-option::after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  margin-top: 38px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.language-option:hover:after {
  width: 100%;
}

.language-option:hover {
  color: #ffffff;
}
