.navbar-container {
  display: flex;
  justify-content: center;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar {
  margin-top: 20px;
  z-index: 1050;
  background: rgba(255, 255, 255, 0.397);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  height: 75px;
  width: 1350px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  .logo-wrapper {
    height: 60%;
    margin-left: 40px;
    .logo-img {
      height: 100%;
    }
  }
  .demo-button {
    background-color: black;
    text-decoration: none;
    padding: 15px;
    margin-right: 40px;
    border-radius: 7px;
    font-size: var(--fontsmall);
    position: relative;
    color: white;
    &:hover {
      background: linear-gradient(#e66465, #9198e5);
    }
  }
  .navbar-content {
    align-items: center;
    height: 100%;
    z-index: 1100;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: var(--fontfamilytitle);
    font-weight: 400;
    font-size: var(--fontsmall);
    .nav-link {
      text-decoration: none;
      color: var(--darkgray);
    }
    .navbar-dropdown {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: var(--darkgray);
        text-decoration: none;
      }
      .dropping-item:hover,
      .dropdown-item:hover {
        cursor: pointer;
      }
      &:hover .dropdown {
        transform: translateY(80px);
        visibility: visible;
        opacity: 1;
        transition: 0.1s ease-in-out;
      }

      .dropdown {
        transition: 0.1s ease-in-out;
        transition-delay: 0.1s;
        transform: translateY(70px);
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        background-color: rgb(244, 242, 247);
        padding: 50px 0px 50px 0px;
        justify-content: center;
        align-items: top;
        z-index: 100;
        .line {
          width: 100%;
          height: 1px;
          background-color: rgb(235, 235, 235);
          border-radius: 1px;
        }
        .dropdown-container {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .dropdown-item {
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 30px;
            font-weight: 400;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: left;
            .image-container {
              display: flex;
              justify-content: center;
              align-items: center;
              > img {
                width: 150px;
                object-fit: contain;
              }
            }
            .description {
              color: var(--colordescription);
              font-size: var(--fontsmall);
            }
            .title {
              font-size: var(--fontmedium);
              font-weight: 500;
            }
            &:hover {
              color: rgb(118, 118, 118) !important;
              .image {
                opacity: 0.6;
              }
            }
          }
        }
      }
      &:hover .dropdown-arrow {
        // Animation please don't touch
        opacity: 1;
        visibility: visible;
        transform: translateY(54px) rotate(45deg);
        transition-delay: 0.1s;
        // Animation please don't touch
      }

      .dropdown-arrow {
        z-index: 90;
        // Animation please don't touch
        transition: 0.1s ease-in;
        opacity: 0;
        // Animation please don't touch
        position: absolute;
        background-color: rgb(211, 201, 226);
        width: 40px;
        height: 40px;
        visibility: hidden;
        border-radius: 5px;
        transform: translateY(70px) rotate(45deg);
      }
    }
  }
}

.hamburger-container {
  display: none;
}

.dropdown-content-mobile {
  display: none;
}

// Dropdown mobile
@media (max-width: 1100px) {
  .navbar-content {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .demo-button {
    display: none;
    width: 100px;
    height: 100px;
  }
  .hamburger-container {
    display: block !important;
    margin-right: 40px;
  }
  .navbar {
    width: 750px !important;
  }
  .nav-link {
    display: none;
  }
  .navbar-dropdown {
    display: none !important;
  }
  .dropdown-content-mobile {
    display: flex;
    opacity: 0;
    display: absolute;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
    position: fixed;
    top: 0;
    background-color: rgb(244, 242, 247);
    width: 100%;
    height: 100%;
    z-index: 2;
    border-width: 5px;
    border: 5px;
    border-color: gray;
  }
  .dropdown-content-mobile.open {
    opacity: 1;
    transform: translateY(0);
    touch-action: none;
  }
  .dropdown-links-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 150px;
    margin-left: 6vh;
    gap: 10px;
  }
  .dropdown-text {
    flex-direction: row;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 10px;
  }
  .arrow-icon.open {
    transition: 0.2s ease-in-out transform;
    transform: rotateX(180deg);
  }
  .sublink {
    width: 200px;
    color: var(--gray);
    font-weight: 500;
    text-decoration: none;
    font-family: var(--fontfamilydescription);
    font-size: var(--fontlarge);
  }
  .dropdown-link {
    flex-direction: column;
    display: flex;
    color: var(--gray);
    font-weight: 500;
    text-decoration: none;
    font-family: var(--fontfamilytitle);
    font-size: var(--fontlarge);

    color: black;
    text-decoration: none;

    .arrow-icon {
      transition: 0.2s ease-in-out transform;
      flex-direction: row;
      display: flex;
      align-items: center;
      width: 25px;
    }
  }
  .dropdown-text:hover,
  .products-link:hover,
  .sublink:hover {
    color: black;
  }
  .products-link {
    color: var(--gray);
    text-decoration: none;
    font-family: var(--fontfamilytitle);
    font-size: var(--fontbig);
    color: rgb(71, 71, 71) !important;
  }

  .demo-button-2 {
    width: 70px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px;
    margin-right: 40px;
    border-radius: 12px;
    font-size: 14px;
    position: relative;
    color: white;
    overflow: hidden; /* Ensures the pseudo-element stays within the button */
    background: black; /* Initial solid background color */
    transition: background 0.5s ease-in-out; /* For fallback in case gradient isn't supported */
  }
  .products-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    will-change: opacity, max-height, margin-top, margin-bottom;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out,
      margin-top 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
  }

  .products-content.open {
    margin-top: 25px;
    margin-bottom: 20px;
    opacity: 1;
    max-height: 500px;
  }
  .product-category {
    color: darkgray;
    font-size: var(--fontmedium);
  }
}

@media screen and (max-width: 1400px) {
  .navbar {
    width: 1050px !important;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    width: 750px !important;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    width: 90% !important;
  }
}
