// ----------------------------- Block One ----------------------------- \\

.block-one-title {
  margin-top: 100px;
  font-family: var(--titlefont);
}
.block-one-description {
  font-family: var(--titledescription);
  font-size: var(--mediumfont);
  font-weight: 300;
  max-width: 800px;
  text-align: center;
}
