.analyticsPage {
  margin-top: var(--navmargin);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .gradient-container {
    background: linear-gradient(
      165deg,
      rgba(228, 32, 32, 1) 0%,
      rgba(255, 209, 117, 1) 100%
    );
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 90px 0px;
  }

  .analytics-title {
    color: white;
  }
  .analytics-title {
    color: white;
    width: 1000px;
    font-size: var(--fonthuge);
    font-weight: 800;
    text-align: center;
  }
  .analytics-description1 {
    margin-top: 50px;
    color: white;
    width: 1000px;
    font-size: var(--fontmedium);
    font-weight: 600;
    text-align: center;
  }
  .analytics-description2 {
    margin-top: 40px;
    color: white;
    width: 1000px;
    font-size: var(--fontsmall);
    font-weight: 600;
    text-align: center;
  }
}
