.FivePropContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  text-align: center;

  .flexrow1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;

    .flexitem1 {
      position: relative;
      height: 350px;
      border-radius: 20px;
      background-color: rgb(245, 245, 247);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
      > div {
        color: rgb(0, 0, 0);
        position: absolute;
        .title {
          color: white;
          font-weight: 600;
          font-size: var(--fontbig);
        }
        .description {
          color: white;
          font-weight: 500;
          font-size: var(--fontsmall);
        }
      }
      &:hover {
        filter: brightness(80%);
      }
    }
    .flexitem2 {
      background-image: url("../../images/components/backgroundblob.webp");
      background-color: rgb(248, 246, 246);
      background-position: center;
      height: 350px;
      border-radius: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      flex-direction: column;
      gap: 30px;
      background-color: rgb(245, 245, 247);
      .textcontainer {
        margin: 0px 0px 0px 40px;
        z-index: 2;
        display: flex;

        flex-direction: column;
        text-decoration: none;
        text-align: left;
        .title {
          font-size: var(--fontbig);
          font-weight: 600;
          text-decoration: none;
        }
        .description {
          width: 400px;
        }
      }
      .imagecontainer {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 40px;
        > img {
          width: 29%;
        }
      }

      .orderflowimage {
        top: 20px;
        position: absolute;
        height: 320px;
        right: 0;
        z-index: 0;
      }

      &:hover {
        background-color: rgb(237, 237, 240);
      }
    }
  }
  .flexrow2 {
    display: flex;
    width: 100%;
    gap: 30px;

    .flexitems {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 30px;
      .flexitem1 {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 20px;
        width: 100%;
        background-color: rgb(245, 245, 247);
        .textcontainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-decoration: none;

          .title {
            font-size: var(--fontbig);
            font-weight: 600;
            text-decoration: none;
          }
          .description {
            text-decoration: none;
            width: 500px;
          }
        }
        .blob {
          width: 400px;
        }
        &:hover {
          background-color: rgb(237, 237, 240);
        }
      }
      .flexitem2 {
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 20px;
        width: 100%;
        background-color: rgb(245, 245, 247);
        .textcontainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          z-index: 1;
          gap: 20px;

          .title {
            font-size: var(--fontbig);
            font-weight: 600;
          }
          .description {
            width: 500px;
          }
        }
        .blob {
          position: absolute;
          bottom: 0px;
          right: 50px;
          z-index: 0;
          width: 200px;
        }
        .blob2 {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100px;
          border-radius: 20px 0px 0px 0px;
        }
        &:hover {
          background-color: rgb(237, 237, 240);
        }
      }
    }
    .flexitem {
      height: 730px;
      border-radius: 20px;
      width: 100%;
      > img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

@media (max-width: 1100px) {
  .FivePropContainer {
    width: 100%;
    .flexrow1 {
      flex-direction: column;
    }
    .flexrow2 {
      flex-direction: column;
    }
  }
}

@media (max-width: 800px) {
  .FivePropContainer {
    .flexitem1 {
      .textcontainer {
        width: 80%;
        gap: 10px;
        .description {
          width: 100% !important;
        }
      }
      .blob {
        width: 80% !important;
      }
    }
    .flexitem2 {
      .textcontainer {
        width: 80%;
        gap: 10px;
        .description {
          width: 100% !important;
        }
      }
      .imagecontainer {
        flex-direction: column;
        gap: 10px !important;
        > img {
          width: 60% !important;
        }
      }
    }
    .flexitem {
      height: 350px !important;
    }
  }
}
