.navbar-container {
  margin: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
}

.navbar {
  // Glass morph
  background: rgba(255, 255, 255, 0.397);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  // Glass morph
  height: 75px;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  border-color: rgb(219, 219, 219);
}
.logo-wrapper {
  height: 60%;
  margin-left: 40px;
}
.logo-img {
  height: 100%;
}

.demo-button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 18px;
  margin-right: 40px;
  border-radius: 12px;
  font-size: 14px;
  position: relative;
  color: white;
  overflow: hidden; /* Ensures the pseudo-element stays within the button */
  background: black; /* Initial solid background color */
  transition: background 0.5s ease-in-out; /* For fallback in case gradient isn't supported */
}

.demo-button::after {
  content: "Sorka loss";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    var(--gradient1),
    var(--gradient2) 30%,
    var(--gradient3) 90%
  );
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with button interactions */
}

.demo-button:hover::after {
  opacity: 1;
}

.navbar-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  .nav-link {
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-weight: 400;
  }
}

.dropdown-menu {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
}

.dropdown-menu li:first-child {
  cursor: default;
}

.dropdown-menu a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-menu a:hover {
  background: #ba68c8;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  background: #ffffff;
  opacity: 1;
  width: 100px;
  visibility: visible;
  top: 100%;
  -webkit-transition: all 0.5s, background, 0.5s 0.5s linear;
  transition: all 0.5s, background 0.5s 0.5s linear;
}
