.redirect-container {
  display: flex;
  gap: 50px;

  .button1 {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 15px 55px 15px 55px;
    border-radius: 15px;
    .text {
      color: white;
      font-family: var(fontfamilytitle);
      font-size: var(--fontextrasmall);
    }
  }
  .button1:hover {
    transition: 0.2s ease-in-out;
    background-color: rgb(83, 83, 83);
  }
  .button2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15px 55px 15px 55px;
    border-radius: 15px;
    transition: 0.5 ease-in-out;
    .text {
      color: black;
      font-size: var(--fontextrasmall);
      font-family: var(fontfamilytitle);
    }
  }
  .button2:hover {
    transition: 0.2s ease-in-out;
    background-color: rgb(243, 243, 243);
  }
}
@media (max-width: 800px) {
  .redirect-container {
    gap: 30px;
    flex-direction: column-reverse;
  }
}
