.aboutbox {
  position: relative;
  width: 100%;

  .text {
    position: absolute;
    font-size: var(--fontlarge);
    font-family: var(--fontfamilytitle);
    font-weight: 550;
    color: white;
    top: 40px;
    left: 40px;
  }
  .background {
    border-radius: 30px;
    width: 100%;
  }
  .logo {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 200px;
  }
}
