.aboutbox {
  position: relative;
  width: 100%;

  .text {
    position: absolute;
    font-size: var(--fontlarge);
    font-family: var(--fontfamilytitle);
    font-weight: 550;
    color: white;
    top: 40px;
    left: 40px;
  }
  .background {
    border-radius: 30px;
    width: 100%;
  }
  .logo {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 200px;
  }
}

@media (max-width: 800px) {
  .aboutbox {
    .text {
      top: 20px;
      left: 20px;
    }
    .logo {
      width: 100px;
      bottom: 20px;
      right: 20px;
    }
  }
}
