.customer {
  background-color: #f8f9fc;
  max-width: 436px;
  height: 650px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
    background-color: rgb(235, 235, 235);
  }
  &:active {
    transition: 0.1s ease-in-out;
    background-color: rgb(170, 170, 170);
  }

  .img-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out; // Apply transition to all properties

    .img {
      border-radius: 20px 20px 5px 5px;
      width: 100%;
      transition: all 0.5s ease-in-out; // Transition for image
    }
  }

  .text-container {
    width: 95%;
    padding-bottom: 20px;
    .title {
      margin: 10px 10px 0px 10px;
      font-family: var(fontfamilytitle);
      font-size: 25px;
      font-weight: 550;
    }
    .description {
      margin: 20px 10px 0px 10px;
      font-family: var(fontfamilydescription);
      font-size: 20px;
      color: var(--gray);
    }
  }
}

.customer:hover {
  .img {
    transform: scale(1.05); // Scale the image itself slightly
  }
}
