body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Common Colors */
  --blue: #1e90ff;
  --white: #ffffff;
  --gradient1: #6557ff;
  --gradient2: #aa3fff;
  --gradient3: #f8522e;
  --gradient4: #fcaa4a;
  --black: #171717;
  --darkgray: #2d2d2d;
  --gray: #6d6d6d;
  --lightgray: #a8a8a8;
  --white: #ffffff;
  /* Font Families */
  --fontfamilytitle: "Mary Poppins", sans-serif;
  --fontfamilydescription: "Inter", sans-serif;
  /* Font Sizes */
  --fontextrasmall: calc(0.67rem + 0.24vw);
  --fontsmall: calc(0.75rem + 0.27vw);
  --fontmedium: calc(0.8rem + 0.67vw);
  --fontlarge: calc(0.9rem + 0.77vw);
  --fonthuge: 70px;
  --navmargin: 0px;
  /* Border Radius */
  --borderradiussmall: 10px;
  --borderradiusbig: 20px;
}

h1 {
  font-size: 65px;
  text-align: center;
}

@media (max-width: 1000px) {
  :root {
    --fonthuge: 60px;
  }
}
@media (max-width: 800px) {
  :root {
    --fonthuge: 48px;
    --navmargin: 75px !important;
  }
}
@media (max-width: 700px) {
  :root {
    --fonthuge: 40px;
    --navmargin: 65px !important;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}
