body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}

:root {
  /* Gradient Colors */
  --gradient1: #6557ff;
  --gradient2: #aa3fff;
  --gradient3: #f8522e;
  --gradient4: #fcaa4a;
  --gray: #6d6d6d;
  /* Font colors */
  --colordescription: #60697b;
  /* Font families */
  --fontfamilytitle: Epilogue, sans-serif;
  --fontfamilydescription: Epilogue, sans-serif;
  /* Font Sizes */
  --fontextrasmall: 16px;
  --fontsmall: 18px;
  --fontmedium: 30px;
  --fontbig: 40px;
  --fontlarge: 55px;
  --fonthuge: 70px;
  /* Margin Nav */
  --navmargin: 100px;
}

@media (max-width: 1100px) {
  :root {
    --fontextrasmall: 14px;
    --fontsmall: 16px;
    --fontmedium: 20px;
    --fontbig: 25px;
    --fontlarge: 40px;
    --fonthuge: 50px;
  }
}
@media (max-width: 800px) {
  :root {
    --fontextrasmall: 14px;
    --fontsmall: 16px;
    --fontmedium: 20px;
    --fontbig: 25px;
    --fontlarge: 28px;
    --fonthuge: 40px;
    --navmargin: 75px !important;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

div {
  font-family: Epilogue, sans-serif;
}
a {
  font-family: Epilogue, sans-serif;
}

h1 {
  font-size: var(--fonthuge);
  margin: 20px 0px 40px 0px;
}

h2 {
  font-size: var(--fontbig);
  margin: 20px 0px 40px 0px;
}

p {
  width: 100%;
  font-size: var(--fontsmall);
  font-family: var(--fontfamilydescription);
  margin: 0px 0px 0px 0px;
  font-weight: 300;
}
