.expert {
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  .text-overlay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-size: var(--fontmedium);
    }
    .description {
      color: var(--colordescription);
      font-size: var(--fontsmall);
      line-height: 1.7;
    }
    .buttoncontainer {
      margin-top: 30px;
      .button {
        background-color: black;
        color: white;
        border-radius: 5px;
        font-size: var(--fontsmall);
        padding: 10px 20px 10px 20px;
      }
    }
  }
  .image {
    width: 205px;
    border-radius: 250px;
  }
}
